@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}

div {
  display: block;
}

.header {
  background-image: url(/img/mysterethriller__Mystere___Thriller__amreading__books__wattpad.jfif);
  display: flex;
  flex-flow: column nowrap;
  background-position: center;
  background-repeat: repeat;
  background-color: initial;
}

.menu {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
  height: 75px;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: rgb(196, 210, 37);
  font-size: 18px;
}

.navBar {
  display: flex;
  flex-flow: row nowrap;
}

.navBar__opcion {
  padding: 15px;
  font-family: "Kanit", sans-serif;
}

.logo {
  padding-right: 50px;
  padding-top: 10px;
}

h1 {
  text-align: center;
  max-width: 50%;
  color: rgb(241, 237, 16);
  background-color: rgba(85, 86, 87, 0.455);
  padding: 10px;
  font-size: 18px;
}

.titulo {
  font-size: 40px;
  color: black;
}

.sinopsis {
  display: flex;
  height: 750px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}


.tokyoRevengers {
  display: flex;
  flex-flow: row wrap;
  background: black;
}

.trailer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.837);
  padding-bottom: 2rem;
}

.trailer p {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.993);
  background: rgba(33, 33, 31, 0.468);
}

.personajeImg {
  height: 200px;
  width: auto;
}

.nombre {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  color:rgb(255, 3, 3);
  background: yellow;
}

.tokyoRevengers__personajes {
  display: flex;
  flex-flow: row wrap;

}
.personajes {
  display: inline;
  max-width: 50%;
  padding: 5px;
  background: initial;
  background-color: rgba(94, 93, 91, 0.35);
}

.Descripcion {
  font-size: 20px;
  background-color: yellow;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: rgb(154, 7, 203);
}

.footer {
  background-color: yellow;
  align-items: center;
}

.footer a {
  color: red;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.footer a:hover {
  color: blueviolet;
  font-size: 20px;
}