@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}

div {
  display: block;
}

.header {
  background-image: url(./img/mysterethriller__Mystere___Thriller__amreading__books__wattpad.jfif);
  display: flex;
  flex-flow: column nowrap;
  background-position: center;
  background-repeat: repeat;
  background-color: initial;
}

.menu {
  background-color: rgba(158, 153, 153, 0.7);
  display: flex;
  border-bottom: 3px solid rgba(0, 0, 0, 0.7);
  height: 75px;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.navBar {
  display: flex;
  flex-flow: row nowrap;
}

.navBar__opcion {
  padding: 15px;
  font-family: "Kanit", sans-serif;
}

.logo {
  padding-right: 50px;
  padding-top: 10px;
}

h1 {
  text-align: center;
  max-width: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(85, 86, 87);
  padding: 10px;
  font-size: 18px;
}

.titulo {
  display: inline-block;
  font-size: 45px;
  color: black;
  margin-bottom: 5px;
}

.sinopsis {
  display: flex;
  height: 750px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.tokyoRevengers {
  display: flex;
  flex-flow: row wrap;
  background: black;
}

.trailer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.837);
  padding-bottom: 2rem;
}

.trailer p {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.993);
  background: rgba(33, 33, 31, 0.468);
}

.personajeImg {
  height: 200px;
  width: auto;
}

.nombre {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.tokyoRevengers__personajes {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}
.personajes {
  display: block;
  max-width: 48%;
  margin-right: 0;
  background: initial;
  background-color: rgb(64, 65, 70);
  align-items: flex-start;
  align-content: flex-start;
  margin: 10px;
  border: 3px double rgb(255, 255, 255);
  border-radius: 3px;
}

.Descripcion {
  font-size: 20px;
  background-color: rgb(92, 96, 96);
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 255, 255);
}

.footer {
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.footer a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.footer a:hover {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

@media (max-width: 600px) {
  .tokyoRevengers {
    flex-flow: column;
    max-width: 100vw;
  }
  .personajes {
    width: 100vw;
  }
  .navBar {
    display: none;
  }
  .header {
    max-width: 100vw;
    max-height: 100vh;
  }

  .sinopsis {
    height: 800px;
  }
  h1 {
    max-height: 500px;
    max-width: 400px;
  }

  .trailer {
    align-items: flex-start;
    align-content: flex-start;
  }
  .trailer p {
    padding-left: 1rem;
  }
  .trailer iframe {
    width: 450px;
    height: 450px;
    padding-left: 2rem;
  }

  .personajes {
    max-width: 100%;
  }
}
